<!DOCTYPE html>
<html>
	<head>
		<title>Website - {page_name}</title>
		<base href="https://upload.website.com/"/>
		<meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,height=device-height,width=device-width,user-scalable=no,viewport-fit=contain"/>
		<meta name="keywords" content="keywords"/>
		<meta name="description" content="description here..."/>
		<meta name="robots" content="index, follow"/>
		<link rel="stylesheet" href="css/main.css"/>
		<script src="main.js"></script>
	</head>
	<body class="{page_name}">
		{YourContent}
	</body>
</html>
